<section>
  <app-top-bar></app-top-bar>

  <div class="info-container">
    <div class="menu" [class.show-menu]="showMenu">
      <div class="close-menu" (click)="activeMenu()">
        <img src="./../../../assets/images/close.png" alt="">
      </div>
      <ul>
        <li>Dashboard</li>
        <li>Cotizaciones</li>
        <li>Ordenes</li>
        <li>Inventario</li>
      </ul>
    </div>

    <div class="table-container">
      <div>
        <span class="open-menu" (click)="activeMenu()">
          <img src="./../../../assets/images/menu.png" alt="">
        </span>
        <div class="button-container">
          <button class="create-button" (click)="openDialog()">Crear producto</button>
        </div>
        <table>

          <tr class="table-head">
            <th>Producto</th>
            <th>SKU</th>
            <th>Cantidad</th>
          </tr>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.sku }}</td>
            <td>{{ product.quantity }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
