<section>
  <app-top-bar></app-top-bar>
  <div class="products-container">
    <div class="filters">
      <p> Filtrar por vendedor:  </p>
        <select (change)="onChange($event.target.value)" name="" id="">
          <option *ngFor="let user of users" [value]="user.id"> {{user.name}}</option>
        </select>

        <p *ngIf="showCleanButton" class="clean"> <span (click)="cleanFilter()">Borrar</span> </p>
    </div>
    <div>
      <app-products-list [value$]="userId$"></app-products-list>
    </div>
  </div>
</section>
