<section>
  <h1>Crear cuenta</h1>
  <form [formGroup]="singinForm" (ngSubmit)="createUser()">

    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" required >
      <mat-error *ngFor="let error of errorMessage.name">
        <ng-container *ngIf="isValidFild('name') && getErrorMessage('name', error.type)">
          {{ error.message }}
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Correo</mat-label>
      <input matInput formControlName="email" required >
      <mat-error *ngIf="singinForm.controls.email.errors && 
      singinForm.controls.email.errors.isTaken">
           ya existe una cuenta con este correo
      </mat-error>
      <mat-error *ngFor="let error of errorMessage.email">
        <ng-container *ngIf="isValidFild('email') && getErrorMessage('email', error.type)">
          {{ error.message }}
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="password" required>
      <mat-error *ngFor="let error of errorMessage.password">
        <ng-container *ngIf="isValidFild('password') && getErrorMessage('password', error.type)">
          {{ error.message }}
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput formControlName="confirmedPassword" required>
      <mat-error *ngIf="singinForm.controls.confirmedPassword.errors && 
      singinForm.controls.confirmedPassword.errors.mustMatch">
      Las contraseñas no coinciden
    </mat-error>
      <mat-error *ngFor="let error of errorMessage.password">
        <ng-container *ngIf="isValidFild('confirmedPassword') && getErrorMessage('confirmedPassword', error.type)">
          {{ error.message }}
        </ng-container>
      </mat-error>
    </mat-form-field>

    <mat-radio-group aria-label="Select an option" formControlName="type">
      <mat-radio-button value="buyer">Comprador</mat-radio-button>
      <mat-radio-button value="seller">Vendedor</mat-radio-button>
    </mat-radio-group>

    <button type="submit" class="create-button" [disabled]="singinForm.invalid">Crear</button>
  </form>
</section>
