<section>
  <div class="login-container">
    <div class="logo-container">
      <img src="./../../../assets/images/logo.png" alt="">
    </div>
    <form [formGroup]="loginForm" >
      <mat-form-field class="example-full-width">
        <mat-label>Correo</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngFor="let error of errorMessage.email">
          <ng-container *ngIf="isValidFild('email') && getErrorMessage('email', error.type)">
            {{ error.message }}
          </ng-container>
        </mat-error>
      </mat-form-field> <br>
  
      <mat-form-field class="example-full-width">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput formControlName="password" required>
        <mat-error *ngFor="let error of errorMessage.password">
          <ng-container *ngIf="isValidFild('password') && getErrorMessage('password', error.type)">
            {{ error.message }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      
    </form>
    <button (click)="login()" >Iniciar sesión</button>
    <div class="dialog-button">
      <a (click)="openDialog()"> Crear cuenta </a>
    </div>
  </div>
</section>
