<section>
  <app-top-bar></app-top-bar>
  <div class="products-container">
    <div class="filters">
      <p>Filtrar por precio:</p>
      <input type="range" min="0" [max]="maxPrice" (change)="onChangeRange($event)">
      <div class="labes">
        <span>$0</span>
        <span>${{ maxPrice }}</span>
      </div>
      <p *ngIf="showCleanButton" class="clean">
        <span (click)="cleanFilters(filterName);" >Borrar</span>
      </p>
      
    </div>
    <div>
      <div class="input-container">
        <input #filterName type="text" placeholder="Busca por producto y sku" (keyup)="search($event)">
        <img src="./../../../assets/images/search-solid.jpg" alt="">
      </div>
      <app-products-list [value$]="search$" [price$]="filterPrice$" (maxNumber)="getMaxPriceListener($event)"></app-products-list>
    </div>
  </div>
</section>
